nav{
    background-color: #5C2018;
}
body{
font-family: Montserrat;
}
.navimg{
    background: url(../img/image_9\ 1.png);
    width: 100%;
    height: 800px;
    padding-top: 295px;
}
.a ,.b{
    display: table;
    margin: 0 auto;
}
h6{
    font-weight: bold;
    font-size: 20px;
}
form{
    color: #ffffff;
    width: 600px;
    margin: 40px auto;
    padding: 20px auto;
    border-radius: 5px;
}
input{
    width: 100%;
    margin: 5px auto;
    padding: 10px 0;
    border-radius: 5px;
}
​
.contact{
    float: left;
    width: 100%;
}
​
input::placeholder{
    padding: 20px;
    color:#ffffff;
    margin: 20px;
    background-color: #555555;
}
input[type=submit]{
    float: left;
    width:100px;
    background-color: #BC4639;;
    color: white;
    border-radius: 5px;
}
textarea{
    width: 95%;
    height: 100%;
    background-color: #555555;
    color: #ffffff;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
}
.foot{
    background-color: #5C2018;
    /*position: relative;*/
}
.foot1{
    padding-top: 140px;
}
.foot2{
    padding-top: 30px;
}
.foot3{
    padding-top: 50px;
}

#triplephoto {
  max-height: 200px !important;
  position: relative;
  margin-bottom: 20%;
}

#triplephoto img{
  height: 300px;
}

.tr3 img{
  height: 380px !important;
}